{% extends "dashboard/base.html" %}
{% block title %}Add AddOns{% endblock %}
{% block content %}  
<div class="container-fluid">
   {% load static %}
    <div class="row column_title">
        <div class="col-md-12">
            <div
                style="display: flex;
                    flex-direction: column;
                    background: #fff;
                    margin-top: 0;
                    margin-bottom: 30px;
                    padding: 25px 0px 0px 38px;
                    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
                    margin-left: -40px;
                    margin-right: -40px;
                    /* position: relative; */
                "
            > 
                <div  
                    style="display: flex;
                        flex-direction: column; 
                        margin-bottom: 1rem;
                        
                    "
                    
                >
                    <div 
                        style="align-self: flex-start;
                            margin-bottom: 0.5rem;
                    
                        
                        "
                    
                    >
                        <h2 
                            style="
                                font-size: 20px;
                                font-weight: 500;
                                color: #15283c; 
                            "
                        >
                            Add AddOns
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;  
                        </h2>  
                    </div> 
                    <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top: 1rem;">
                        <div style="display: flex;flex-direction: row;margin-top: 8px;">
                            <div class="bread_crumb_hovering">  
                                <u style="border-bottom: 1px solid #15283c;"> <a href="{% url 'index' %}"> <span>Dashboard</span></a> </u>
                            </div> 
                            
                            

                            <div>
                                &nbsp; / &nbsp;  
                            </div>
                            <div class="bread_crumb_hovering">  
                                <u style="border-bottom: 1px solid #15283c;"><a href="{% url 'addons' %}"> <span>AddOns</span></a> </u>
                            </div>
                            

                            {% comment %} <div>
                                &nbsp; / &nbsp;  
                            </div>
                            <div class="bread_crumb_hovering">  
                                <u style="border-bottom: 1px solid #15283c;"> <a href="{% url 'menu_list' %}"> <span>Menu List</span></a> </u>
                            </div> {% endcomment %}

                            <div>
                                &nbsp; / &nbsp; <span style="font-size: 11px;">Add offer</span> 
                            </div>

                        </div>
                        <div class="bread_crumb_hovering" style="margin-right: 40px;">  
                            <button style="background: #0971b8;" class="btn"><a style="color: white;"  href="{% url 'add_addons_form' add_button_clicked=1 %}">Add AddOns</a></button> 
                        </div>
                         
                    </div>
                    
                </div>  
                
            </div>  
        </div>
    </div>
    <form action="/add_addons" enctype="multipart/form-data" method="POST">
        {% csrf_token %} 
        <!-- row -->
        <div class="row column4 graph"> 

            <div class="col-md-12"> 
                
                <div class="white_shd full margin_bottom_30" style="background: #fff;" >  
                    <div style = "margin-top: 20px">
                        {% csrf_token %} 
                        {% if messages %} 
                            {% for message in messages %} 
                                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %} style="text-align: center;width: 380px;margin-top: 10px;margin: auto;">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message }}
                                </div> 
                            {% endfor %} 
                        {% endif %}
                    
                    </div> 
                    <div   style="display: flex;flex-direction: column;max-width: 640px;min-height: 270px;background: #fff;margin: auto;margin-top: 20px;padding-top: 35px;">
                        

                        <div style="display: flex;flex-direction: row;justify-content: space-between;width: 550px;">
                            <div style="width: 200px;">
                                <span style="margin-top: 6px;">AddOn Name</span> 
                            </div> 
                            <div style="width: 350px;">
                                {% if  re_render %}
                                    <input type="text" name="addon_name" id = "kt_docs_maxlength_custom_text" class="styled_input_box_edit_username" style="border-top: none;border-left: none;border-right: none;border-bottom: solid #ddd 2px;width: 350px;" value="{{addon_name}}" placeholder="Enter Name" maxlength="50" />  
                                {% else %}
                                    <input type="text" name="addon_name"  id = "kt_docs_maxlength_custom_text" class="styled_input_box_edit_username" style="border-top: none;border-left: none;border-right: none;border-bottom: solid #ddd 2px;width: 350px;" placeholder="Enter Name" maxlength="50"/>  
                                {% endif %} 
                            </div> 
                        </div>  

                        <div style="display: flex;flex-direction: row;justify-content: space-between;width: 550px;padding-top: 40px;">
                            <div style="width: 200px;">
                                <span style="margin-top: 6px;">Addon Price</span> 
                            </div> 
                            <div  style="width: 350px;">

                                {% if re_render %}
                                    <input type="text" name="addon_price" id = "kt_docs_maxlength_custom_text6" class="styled_input_box_edit_username"  style="border-top: none;border-left: none;border-right: none;border-bottom: solid #ddd 2px;width: 350px;" value="{{addon_price}}" placeholder="Enter price" maxlength="50" oninput="validate(this)" onkeydown="return event.keyCode >= 48 && event.keyCode <= 57 || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 8 || event.keyCode == 9;"/>
                                {% else %}
                                    <input type="text" name="addon_price" id = "kt_docs_maxlength_custom_text6" class="styled_input_box_edit_username"  style="border-top: none;border-left: none;border-right: none;border-bottom: solid #ddd 2px;width: 350px;" placeholder="Enter price" maxlength="50" oninput="validate(this)" onkeydown="return event.keyCode >= 48 && event.keyCode <= 57 || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 8 || event.keyCode == 9;"/>

                                {% endif %}
                            
                            </div> 
                        </div>


                        <div style="display: flex;flex-direction: row;justify-content: space-between;width: 550px;padding-top: 40px;">
                            <div style="width: 200px;">
                                <span style="margin-top: 20px;">Upload Image</span> 
                            </div> 
                            <div  style="width: 350px;">
                                {% load static %}  

                                <div class="avatar-upload"  style="margin: 0px;">
                                    <div class="avatar-edit">
                                        <input type="file" id="imageUpload" name="addon_image" accept=".png, .jpg, .jpeg .webp" />
                                        <label for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview" style="background-image: url('{{ STATIC_URL }}assets/src/images/layout_img/pattern_h.png');">
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>

                        

                        
                        <div style="display: flex;flex-direction: row;width: 750px;padding-top: 40px;">
                            <div style="width: 200px;">
                                <span style="margin-top: 20px;">Description</span> 
                            </div> 
                            <div  style="width: 550px;">
                                {% if  re_render %}
                                    <textarea class="form-control" name="addon_description" rows="5" id="comment">{{addon_description}}</textarea> 
                                {%else%}
                                    <textarea class="form-control" name="addon_description" rows="5" id="comment"></textarea>
                                {%endif%}
                            </div> 
                        </div>


                        <div   style="display: flex;flex-direction: column;max-width: 640px;background: #fff;margin: auto;margin-top: 20px;padding-top: 35px;">
                            <div style="display: flex;flex-direction: row;justify-content: space-between;width: 550px;">
                                <div style="width: 200px;">
                                    <span style="margin-top: 16px;display: none;">Enter Question</span> 
                                </div> 
                                <div style="width: 350px;">
                                    <button type="submit" style="background: #0971b8;padding-left: 16px;padding-right: 16px;color: white;" class="btn">Save</button>
                                </div> 
                            </div>   
                        </div> 
                        <div   style="max-width: 640px;background: #fff;margin: auto;margin-top: 60px;padding-bottom: 1rem;"> 
                        </div> 
                        

                    </div> 

                
                    
                </div>


                
            </div> 
            
        </div>   
 


    </form>


</div> 




<script>
    itemsqes = document.querySelectorAll(".checkboxqes");  
    itemsqes.forEach(item => {
        item.addEventListener("click", () => {
            let selectefd = document.querySelector(".checkboxqes.checked");
            if(selectefd){
                selectefd.classList.toggle("checked"); 
                console.log("yaraaa awaaaa",selectefd.id);
                var this_topicbhh = document.getElementById("select_"+selectefd.id); 

                var checkmarkvarprv = document.getElementById("tickmarkqes_"+selectefd.id); 
                var tickmarkinputvarprv = document.getElementById("teckmarkinputid_"+selectefd.id);
                if(tickmarkinputvarprv.checked == false) {
                    tickmarkinputvarprv.checked = true; 
                    checkmarkvarprv.style.display = "block";
                }
                else {
                    if(tickmarkinputvarprv.checked == true) {
                        tickmarkinputvarprv.checked = false; 
                        checkmarkvarprv.style.display = "none";
                    }   
                }


                if(this_topicbhh.checked == false) {
                    this_topicbhh.checked = true; 
                }
                else {
                    if(this_topicbhh.checked == true) {
                        this_topicbhh.checked = false; 
                    }   
                }
            }  
            var this_qes = document.getElementById("select_"+item.id);
            item.classList.toggle("checked"); 

            var checkmarkvar = document.getElementById("tickmarkqes_"+item.id); 
            var tickmarkinputvar = document.getElementById("teckmarkinputid_"+item.id);
            if(tickmarkinputvar.checked == false) {
                tickmarkinputvar.checked = true; 
                checkmarkvar.style.display = "block";
            }
            else {
                if(tickmarkinputvar.checked == true) {
                    tickmarkinputvar.checked = false; 
                    checkmarkvar.style.display = "none";
                }   
            }

            if(this_qes.checked == false) {
                this_qes.checked = true; 
            }
            else {
                if(this_qes.checked == true) {
                    this_qes.checked = false; 
                }   
            }  
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){

        $("#the_basics_tag_id").tooltip({
            placement: "top"
        });

        $("#the_basics_checkbox_id").tooltip({
            placement: "top"
        });
    });
</script>
<script>   
    const fileInput = document.getElementById('imageUpload'); 
    fileInput.addEventListener('change', event => {  
        console.log("boolyyyyy"); 
        const files = event.target.files;
        console.log("files",files); 

        const file = files[0];
        console.log("file",file); 
        const fileReader = new FileReader();
        fileReader.readAsDataURL(file);
        fileReader.addEventListener("load", function (e) {
            $('#imagePreview').css('background-image', 'url('+ this.result +')'); 
            // fileInput.style.display = "block";
        }); 
    });    
    
    items = document.querySelectorAll(".sessions_checkboxes");

       
    items.forEach(item => {
        item.addEventListener("click", () => { 
            var this_topic = document.getElementById("ques_"+item.id); 

            var checkmarkvar = document.getElementById("tickmark_"+item.id); 
            var tickmarkinputvar = document.getElementById("teckmarksessioninputid_"+item.id);
            if(tickmarkinputvar.checked == false) {
                tickmarkinputvar.checked = true; 
                checkmarkvar.style.display = "block";
            }
            else {
                if(tickmarkinputvar.checked == true) {
                    tickmarkinputvar.checked = false; 
                    checkmarkvar.style.display = "none";
                }   
            }


            if(this_topic.checked == false) {
                this_topic.checked = true; 
            }
            else {
                if(this_topic.checked == true) {
                    this_topic.checked = false; 
                }   
            }    

        });
    });  

    itemsqes = document.querySelectorAll(".checkboxqes"); 

    itemsqes.forEach(item => {
        item.addEventListener("click", () => {   
            var this_qes = document.getElementById("select_"+item.id); 

            var checkmarkvar = document.getElementById("tickmarkqes_"+item.id); 
            var tickmarkinputvar = document.getElementById("teckmarkinputqesid_"+item.id);
            if(tickmarkinputvar.checked == false) {
                tickmarkinputvar.checked = true; 
                checkmarkvar.style.display = "block";
            }
            else {
                if(tickmarkinputvar.checked == true) {
                    tickmarkinputvar.checked = false; 
                    checkmarkvar.style.display = "none";
                }   
            }

            if(this_qes.checked == false) {
                this_qes.checked = true; 
            }
            else {
                if(this_qes.checked == true) {
                    this_qes.checked = false; 
                }   
            }  
        });
    });

    basicsitem = document.querySelector(".checkobox_the_basics");

    basicsitem.addEventListener("click", () => {   
        var this_qesbasic = document.getElementById("the_basics_checkbox_id"); 

        var checkmarkvarbasic = document.getElementById("tickmark_the_basics"); 
        var tickmarkinputvarbasic = document.getElementById("teckmarkinputbasicqesid");
        if(tickmarkinputvarbasic.checked == false) {
            tickmarkinputvarbasic.checked = true; 
            checkmarkvarbasic.style.display = "block";
        }
        else {
            if(tickmarkinputvarbasic.checked == true) {
                tickmarkinputvarbasic.checked = false; 
                checkmarkvarbasic.style.display = "none";
            }   
        }

        if(this_qesbasic.checked == false) {
            this_qesbasic.checked = true; 
        }
        else {
            if(this_qesbasic.checked == true) {
                this_qesbasic.checked = false; 
            }   
        }  
    });
</script>


{% endblock %}