{% extends "dashboard/base.html" %}
{% block title %}Add Order Notes{% endblock %}
{% block content %}  
<div class="container-fluid">
   {% load static %}
    <div class="row column_title">
        <div class="col-md-12">
            <div
                style="display: flex;
                    flex-direction: column;
                    background: #fff;
                    margin-top: 0;
                    margin-bottom: 30px;
                    padding: 25px 0px 0px 38px;
                    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
                    margin-left: -40px;
                    margin-right: -40px;
                    /* position: relative; */
                "
            > 
                <div  
                    style="display: flex;
                        flex-direction: column; 
                        margin-bottom: 1rem;
                        
                    "
                    
                >
                    <div 
                        style="align-self: flex-start;
                            margin-bottom: 0.5rem;
                    
                        
                        "
                    
                    >
                        <h2 
                            style="
                                font-size: 20px;
                                font-weight: 500;
                                color: #15283c; 
                            "
                        >
                            Add Order Notes
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;  
                        </h2>  
                    </div> 
                    <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top: 1rem;">
                        <div style="display: flex;flex-direction: row;margin-top: 8px;">
                            <div class="bread_crumb_hovering">  
                                <u style="border-bottom: 1px solid #15283c;"> <a href="{% url 'index' %}"> <span>Dashboard</span></a> </u>
                            </div> 
                            
                            <div>
                                &nbsp; / &nbsp;  
                            </div>
                            <div class="bread_crumb_hovering">  
                                <u style="border-bottom: 1px solid #15283c;"><a href="{% url 'orders' %}"> <span>Orders List</span></a> </u>
                            </div>

                            <div>
                                &nbsp; / &nbsp; <span style="font-size: 11px;">Add Notes</span> 
                            </div>

                        </div>
                        
                        
                    </div>
                    
                </div>  
                
            </div>  
        </div>
    </div>
    <form action="/add_order_notes" enctype="multipart/form-data" method="POST">
        {% csrf_token %} 
        <!-- row -->
        <div class="row column4 graph"> 

            <div class="col-md-12"> 
                
                <div class="white_shd full margin_bottom_30" style="background: #fff;" >  
                    <div style = "margin-top: 20px">
                        {% csrf_token %} 
                        {% if messages %} 
                            {% for message in messages %} 
                                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %} style="text-align: center;width: 380px;margin-top: 10px;margin: auto;">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message }}
                                </div> 
                            {% endfor %} 
                        {% endif %}
                    
                    </div> 
                    <div   style="display: flex;flex-direction: column;max-width: 640px;min-height: 270px;background: #fff;margin: auto;margin-top: 20px;padding-top: 35px;">
                        
                        <div style="display: flex;flex-direction: row;width: 750px;padding-top: 40px;">
                            <div style="width: 200px;">
                                <span style="margin-top: 20px;">Order Notes</span> 
                            </div> 
                            <div  style="width: 550px;">
                                {% if  re_render %}
                                    <textarea class="form-control" name="order_notes" rows="5" id="comment">{{order_notes}}</textarea> 
                                
                                {%else%}
                                    <textarea class="form-control" name="order_notes" rows="5" id="comment">{{order_instance.extra_notes}}</textarea>
                                
                                {%endif%}
                            </div> 
                        </div>

                        <div id="newinputdiv" style="display: none;"> 

                            <input type="hidden"  name="order_id"  value="{{order_instance.id}}" />
                        </div>

                        <div   style="display: flex;flex-direction: column;max-width: 640px;background: #fff;margin: auto;margin-top: 20px;padding-top: 35px;">
                            <div style="display: flex;flex-direction: row;justify-content: space-between;width: 550px;">
                                <div style="width: 200px;">
                                    <span style="margin-top: 16px;display: none;">Enter Question</span> 
                                </div> 
                                <div style="width: 350px;">
                                    <button type="submit" style="background: #0971b8;padding-left: 16px;padding-right: 16px;color: white;" class="btn">Save</button>
                                </div> 
                            </div>   
                        </div>
                        <!-- <div   style="max-width: 500px;background: #fff;margin: auto;padding-bottom: 1rem;">
                            <button type="submit" class="add_theme_main_bt" style="float: right;margin-right: 60px;" >Save</button>  
                        </div> -->
                        <div   style="max-width: 640px;background: #fff;margin: auto;margin-top: 60px;padding-bottom: 1rem;"> 
                        </div> 

                        
                        

                    </div> 

                    
                </div>


                
            </div> 
            
        </div>   



    </form>


</div> 







{% endblock %}