{% extends "dashboard/base.html" %}
{% block title %}Edit Order Status{% endblock %}
{% block content %}  
<div class="container-fluid">
   {% load static %}
    <div class="row column_title">
        <div class="col-md-12">
            <div
                style="display: flex;
                    flex-direction: column;
                    background: #fff;
                    margin-top: 0;
                    margin-bottom: 30px;
                    padding: 25px 0px 0px 38px;
                    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
                    margin-left: -40px;
                    margin-right: -40px;
                    /* position: relative; */
                "
            > 
                <div  
                    style="display: flex;
                        flex-direction: column; 
                        margin-bottom: 1rem;
                        
                    "
                    
                >
                    <div 
                        style="align-self: flex-start;
                            margin-bottom: 0.5rem;
                    
                        
                        "
                    
                    >
                        <h2 
                            style="
                                font-size: 20px;
                                font-weight: 500;
                                color: #15283c; 
                            "
                        >
                            Edit Order Status
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;  
                        </h2>  
                    </div> 
                    <div style="display: flex;flex-direction: row;justify-content: space-between;margin-top: 1rem;">
                        <div style="display: flex;flex-direction: row;margin-top: 8px;">
                            <div class="bread_crumb_hovering">  
                                <u style="border-bottom: 1px solid #15283c;"> <a href="{% url 'index' %}"> <span>Dashboard</span></a> </u>
                            </div> 
                            
                            <div>
                                &nbsp; / &nbsp;  
                            </div>
                            <div class="bread_crumb_hovering">  
                                <u style="border-bottom: 1px solid #15283c;"> <a href="{% url 'order_status' %}"> <span>Order Status</span></a> </u>
                            </div>

                            <div>
                                &nbsp; / &nbsp; <span style="font-size: 11px;">Edit Order Status</span> 
                            </div>

                        </div>
                        <!--<div class="bread_crumb_hovering" style="margin-right: 40px;">  
                            <button style="background: #0971b8;" class="btn"><a style="color: white;"  href="{% url 'add_kitchen_form' add_button_clicked=1 %}">Add Order Status</a></button> 
                        </div> -->  
                    </div>
                    
                </div>  
                
            </div>  
        </div>
    </div>
    <form action="/edit_order_status" enctype="multipart/form-data" method="POST">
        {% csrf_token %} 
        <!-- row -->
        <div class="row column4 graph"> 

            <div class="col-md-12"> 
                
                <div class="white_shd full margin_bottom_30" style="background: #fff;" >  
                    <div style = "margin-top: 20px">
                        {% csrf_token %} 
                        {% if messages %} 
                            {% for message in messages %} 
                                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %} style="text-align: center;width: 380px;margin-top: 10px;margin: auto;">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message }}
                                </div> 
                            {% endfor %} 
                        {% endif %}
                    
                    </div> 
                    <div   style="display: flex;flex-direction: column;max-width: 640px;min-height: 270px;background: #fff;margin: auto;margin-top: 20px;padding-top: 35px;">
                        

                        <div style="display: flex;flex-direction: row;justify-content: space-between;width: 550px;">
                            <div style="width: 200px;">
                                <span style="margin-top: 6px;">Status Title</span> 
                            </div> 
                            <div style="width: 350px;">
                                {% if  re_render %}
                                    <input type="text" name="status_title" id = "kt_docs_maxlength_custom_text" class="styled_input_box_edit_username" style="border-top: none;border-left: none;border-right: none;border-bottom: solid #ddd 2px;width: 350px;" value="{{status_title}}" placeholder="Enter Status Title" maxlength="50" />  
                                {% else %}
                                
                                <input type="text" name="status_title" value = "{{order_status_instance.status_title}}" id = "kt_docs_maxlength_custom_text" class="styled_input_box_edit_username" style="border-top: none;border-left: none;border-right: none;border-bottom: solid #ddd 2px;width: 350px;"  maxlength="50" /> 
                                {% endif %} 
                            </div> 
                        </div>  

                        {% comment %} <div style="display: flex; flex-direction: row; align-items: center; width: 500px; padding-top: 10px; margin-top:30px;">
                            <div style="width: 190px;">
                                <label for="selectTopic" style="margin-top: 16px;">Select Role</label>
                            </div>


                            {% if  re_render %}
                                {% if  selcted_modules %}
                                    <div style="width: 120px; margin-left: 10px;">
                                        <select id="selected_module_dropdown" name="selected_module_dropdown" multiple="multiple">
                                            {% for role in all_roles %}
                                                {% if role.title in module_names %}
                                                    <option value="{{ module.id }}" selected>{{ module.module }}</option>
                                                {% else %}
                                                    <option value="{{ module.id }}">{{ module.module }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        
                                    </div>
                                

                                {%else%}

                                    <div style="width: 120px; margin-left: 10px;">
                                        <select id="selected_module_dropdown" name="selected_module_dropdown" multiple="multiple">
                                            {% for module in module %}
                                                <option value="{{ module.id }}">{{ module.module }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                    </div>

                                {%endif%}

                                

                            {%else%}

                                <div style="width: 120px; margin-left: 10px;">
                                    <!--<select id="selected_module_dropdown" name="selected_module_dropdown">
                                        <option value="" selected disabled>-- Select --</option>
                                            {% for role in all_role %}
                                                {% if role.name in role_list %}
                                                    <option value="{{ role.id }}" selected>{{ role.name }}</option>
                                                {% else %}
                                                    <option value="{{ role.id }}">{{ role.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                    </select>-->
                                    <select id="selected_module_dropdown" name="selected_module_dropdown">
                                        <option value="" selected disabled>-- Select --</option>
                                            {% for role in all_role %}

                                                {% if role.name == order_status_instance.role %}
                                                    <option value="{{ role.id }}" selected>{{ role.name }}</option>
                                                {% else %}
                                                    <option value="{{ role.id }}">{{ role.name }}</option>
                                                {% endif %}
                                                
                                                
                                                
                                            {% endfor %}
                                    </select>

                                </div>

                            {%endif%}


                            

                        </div>   {% endcomment %}
                        <div style="display: flex;flex-direction: row;justify-content: space-between;width: 550px; margin-top:30px;">
                            <div style="width: 200px;">
                                <span style="margin-top: 6px;">Status Color</span> 
                            </div> 
                            <div style="width: 350px;">
                                {% if  re_render %}
                                    <input type="color" name="status_color"   value="{{status_color}}"  />  
                                {% else %}
                                
                                <input type="color" name="status_color" value = "{{order_status_instance.its_color_code}}"   /> 
                                {% endif %} 
                            </div> 
                        </div> 


                        
                        

                    </div> 
                    

                    <div   style="display: flex;flex-direction: column;max-width: 640px;background: #fff;margin: auto;margin-top: 20px;padding-top: 35px;">
                        <div style="display: flex;flex-direction: row;justify-content: space-between;width: 550px;">
                            <div style="width: 200px;">
                                <span style="margin-top: 16px;display: none;">Enter Question</span> 
                            </div> 
                            <div style="width: 350px;">
                                <button type="submit" style="background: #0971b8;padding-left: 16px;padding-right: 16px;color: white;" class="btn">Save</button>
                            </div> 
                        </div>   
                    </div>
                    <!-- <div   style="max-width: 500px;background: #fff;margin: auto;padding-bottom: 1rem;">
                        <button type="submit" class="add_theme_main_bt" style="float: right;margin-right: 60px;" >Save</button>  
                    </div> -->
                    <div   style="max-width: 640px;background: #fff;margin: auto;margin-top: 60px;padding-bottom: 1rem;"> 
                    </div> 
                </div>


                
            </div> 
            
        </div>   
        <div id="newinputdiv" style="display: none;"> 

            <input type="hidden"  name="order_status_pk"  value="{{order_status_instance.id}}" />
        </div>

    </form>


</div> 
<script type="text/javascript">
    $(function(){
        $('#selected_module_dropdown').multiSelect();
    });
</script>

{% endblock %}